
* {
  list-style: none;
  font-family: 'Karla', sans-serif;
  padding: 0;
  margin: 0;
}
.title{
  padding-bottom: 20px;
}
  
  .container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  fieldset {
    margin-bottom: 20px;
    border: none;
  }
  
  legend {
    font-weight: bold;
  }
  
  input,
  select,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    margin-top: 5px;
  }
  
  textarea {
    height: 100px;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin-top: 0;
  }
  
  /* Specific Styles */
  
  .category {
    width: 100%;
  }

  #publish-product {
    display: none;
  }
  
  .unit {
    width: 50%;
  }
  
  
  